<div id="profile-body">

  <h2> Welcome <%= @user.email %></h2>
  <br>
  <div class="tabs">
    <a data-type="offers" class="tab active" href="#">
      <h3>My offers</h3>
    </a>
    <a data-type="appointments" class="tab" href="#">
      <h3> My Appointment</h3>
    </a>
  </div>

  <div class="content" id="offers">
    <h3>Offer</h3>
    <% if ! @user.offers.empty? %>
      <ul>
        <% @user.offers.each do |offer| %>
          <li>
            <%= link_to offer_path(offer) do %>
              <%= offer.date_time%> || <%= offer.location%> || <%= offer.price %>
            <% end %>
            <% offer.appointments.each do |appointment| %>
              <h5>
                You have a <%= appointment.status %> request from <%= appointment.user.email %>
              </h5>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="content" id="appointments" style="display: none;">
    <h3>Appointments</h3>
    <% if ! @user.appointments.empty? %>
      <ul>
        <% @user.appointments.each do |appointment| %>
          <li>
            <%= appointment.status %> || <%= appointment.offer.location%> || <%= appointment.offer.date_time %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <br>
</div>
