<div class="wrapper">
  <%= simple_form_for(@offer) do |f| %>
    <%= f.input :name %>
    <%= f.input :date_time %>
    <%= f.input :location %>
    <%= f.input :price%>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Edit offer", class: "btn btn-primary offer-button" %>
  <% end %>
  <br>
  <%= link_to  offers_path do %>
    <h5 class="back-to-offers">
      <i class="fas fa-undo-alt"></i>
      Back to offers
    </h5>
  <% end %>
</div>
