<div class="wrapper">
  <%= simple_form_for(@offer) do |f| %>
    <%= f.input :name, placeholder: "First name" %>
    <%= f.input :date_time, placeholder: "e.g. Fri, Mar 2, 6:00 PM" %>
    <%= f.input :location %>
    <%= f.input :price, placeholder: "Hourly rate" %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Create an offer", class: "btn btn-primary offer-button" %>
  <% end %>
      <!-- <label for="name">Password</label>
      <input type="password" class="form-control" id="name" placeholder="Password"> -->
  <div class="btn btn-primary button-custom">
    <%= link_to "Back to Offers", offers_path %>
  </div>
</div>

