

  <div class="container white-page">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= cl_image_tag(@offer.photo, height: 300, width: 400, crop: :fill, :id => "show-image") rescue nil %>

        <div class="show-info">
        <h2> Name: <%= @offer.name %> </h2>
        <h2> Date: <%= @offer.date_time %> </h2>
        <h2> Location: <%= @offer.location %> </h2>
        <h2> Price: $<%= @offer.price %> </h2>
        </div>


        <% if @offer.user != current_user %>
          <%= simple_form_for [@offer, @appointment] do |f| %>
            <%= f.submit "Send a request", class: "btn btn-primary center-btn"%>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

 <div id="show-footer">
  <% if @offer.user == current_user %>
    <%= link_to "Destroy this Offer", offer_path(@offer), method: :delete, :class => "btn btn-primary" %>
    <br>
    <%= link_to "Edit this Offer", edit_offer_path(@offer), :class => "btn btn-primary" %>
    <br>
  <% end %>
  <%= link_to  offers_path do %>
    <h5 class="back-to-offers">
      <i class="fas fa-undo-alt"></i>
      Back to offers
    </h5>
  <% end %>
</div>








