
<img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-07/17/20/enhanced/webdr03/enhanced-mid-27456-1437180148-1.jpg?downsize=715:*&output-format=auto&output-quality=auto" alt="dogwalker">

<h2> Date: <%= @offer.date_time %> </h2>
<h2> Location: <%= @offer.location %> </h2>
<h2> Price: <%= @offer.price %> </h2>


<% if @offer.user == current_user %>
  <%= link_to "Destroy this Offer", offer_path(@offer), method: :delete %>
  <br>
  <%= link_to "Edit this Offer", edit_offer_path(@offer) %>
  <br>
<% end %>
<%= link_to "Back to Offers", offers_path %>






